@model IEnumerable<to_do.Models.ToDo>

<div id="status">
    <div class="progress my-3">
        <div class="progress-bar progress-bar-striped progress-bar-animated"
             role="progressbar" style="width:@(ViewBag.Percent)%">
            @(ViewBag.Percent)%
        </div>
    </div>
</div>

@if (ViewBag.Percent == 100)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Well done!</strong> You've completed all the tasks.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<table class="table my-3">
    <thead class="thead-dark">
        <tr>
            <th>
                #
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>

    @{
        int cntr = 1;
        string appearance;
    }

    <tbody>
        @foreach (var item in Model)
        {
            @if (item.IsDone)
            {
                appearance = "lessVisible";
            }
            else
            {
                appearance = "";
            }
            <tr>
                <th class="@appearance">
                    @cntr
                    @{ cntr++; }
                </th>
                <td class="@appearance">
                    @Html.CheckBoxFor(modelItem => item.IsDone, new { @class = "check", id = item.Id })
                </td>
                <td class="@appearance">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <i id="@item.Id" class="fas fa-trash"></i>
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="~/js/to-do-list.js"></script>
