@model IEnumerable<to_do.Models.ToDo>

<div id="status">
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated"
             role="progressbar" style="width:@(ViewBag.Percent)%">
            @(ViewBag.Percent)%
        </div>
    </div>
</div>

<table class="table mt-3">
    <thead class="thead-dark">
        <tr>
            <th>
                #
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>

    @{
        int cntr = 1;
        string appearance;
    }

    <tbody>
        @foreach (var item in Model)
        {
            @if (item.IsDone)
            {
                appearance = "lessVisible";
            }
            else
            {
                appearance = "";
            }
            <tr>
                <th>
                    <div class="@appearance">
                        @cntr
                    </div>
                    @{ cntr++; }
                </th>
                <td>
                    <div class="@appearance">
                        @Html.CheckBoxFor(modelItem => item.IsDone, new { @class = "check", id = item.Id })
                    </div>
                </td>
                <td>
                    <div class="@appearance">
                        @Html.DisplayFor(modelItem => item.Description)
                    </div>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
        }


    </tbody>
</table>

<script src="~/js/to-do-checkbox.js"></script>
